@import url(https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Sans-Serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(3, 1, 27);
}

.service-content {
  padding: 5% 8%;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-size: 5rem;
  letter-spacing: 4px;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 3%;
  height: 8px;
  /* ubah yg bawah 275(crome normal) 135 apk norml*/
  width: 275px;
  border-radius: 8px;
  background-color: blue;
}

.card-content {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
margin-top: 80px;
}

.card {
  height: 330px;
  width: 370px;
  background-color: #1c2335;
  padding: 3% 8%;
  border: 0.2px solid rgb(114, 226, 174, 0.2);
  border-radius: 8px;
  transition: .6s;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card::after {
  content: "";
  position: absolute;
  top: 150%;
  left: -200px;
  width: 120%;
  transform: rotate(50deg);
  background-color: white;
  height: 18px;
  filter: blur(30px);
  opacity: 0.5;
  transition: 1s;
}

.card:hover:after{
  width: 225%;
  top: -100%;
}

.card:hover {
  background-color: transparent;
  transform: translateY(-8px);
  border-color: skyblue;
}

.card i {
  color: blue;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4.8rem;
}

.card h2 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.card p{
  text-align: center;
  width: 100%;
  margin: 12px 0;
  color: rgba(225, 225, 225, 066);
}

.card:hover i {
  color: skyblue;
}

@media screen and (max-width : 120px) {
  .card-content {
    grid-template-columns: repeat(2 1fr);
  }
}

@media screen and (max-width : 900px) {
  .card-content {
    grid-template-columns: repeat(1 1fr);
  }
  
  h1 {
    font-size: 3.5rem;
  }
  
}